
<section class="bg-white h-[270px] md:w-[400px] shadow-(--shadow-lg) flex flex-col gap-(--space-md) items-start text-left p-4 border border-[rgba(232,232,232,0.88)] rounded-md">
    <img class="w-10" src="{{ iconPath }}" alt="feature-icon" />
    <h3 class="text-xl font-bold">{{ feature }}</h3>
    <p class="text-(--color-text-light)">{{ desc }}</p>
</section>
